* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.container-header-services {
  /* border: solid black; */
  background-image: url("./services.css-background2.jpg");
  height: 295vh;
  background-size: cover;
}
@media (min-width: 960px) {
  .container-header-services {
    height: 190vh;
  }
}

.servicios {
  /* border: solid green; */
  height: 251vh;
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-top: 45px;
}
@media (min-width: 960px) {
  .servicios {
    height: 167vh;
  }
}
.servicios__title {
  color: hsla(0, 0%, 5%, 0.959);
  margin-bottom: 55px;
  font-size: 65px;
  font-style: italic;
}

@media (min-width: 960px) {
  .servicios__title {
    /* border: solid red; */
    margin: 0;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 45px;
  }
}

.services__container {
  /* border: solid rebeccapurple; */
  height: 240vh;
  display: grid;
  justify-content: center;
}

@media (min-width: 960px) {
  .services__container {
    background-color: rgb(105, 101, 101);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 123vh;
  }
}

.services-container__card {
  /* border: solid brown; */
  height: 331px;
  width: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: 1px 1px 12px -5px rgb(0 0 0 / 90%);
}
.services-container__card:hover {
  box-shadow: 12px 12px 32px 10px rgb(0 0 0 / 30%);
}

.services-container__card__img {
  width: 120px;
  height: 120px;
}
.services-container__card__title {
  font-size: 24px;
  margin: 0;
}
.services-container__card__description {
  width: auto;
  font-size: 16px;
  margin: 0;
  text-align: center;
  padding: 0 3px;
}
